/* CSS Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  /* NavBar */

    .top-nav {
        display: flex;
        color: white;
        background-color: black;
        justify-content: space-between;
        align-items: center;
        padding: 0% 2%;
        height: 80px;
    }
  
    .links {
        list-style: none;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 18px;
        font-weight: bold;
    }
  
    .links > li {
        margin-right: 20px;
        cursor: pointer;
    }
  
    .links > li:first-child {
        text-decoration: underline;
    }
    
    .links > li:last-child {
        margin-left: 0;
    }

    .btn {
        padding: 10px 10px;
        border: none;
        border-radius: 5px;
    }
    
    .btn-white {
        background-color: white;
        color: black;
        font-weight: bold;
    }

    .title{
        margin-left: 5%;
        margin-top: 5%;
    }
    
    .dropbtn {
        background-color: black;
        color: white;
        padding: 16px;
        font-size: 16px;
        border: none;
        cursor: pointer;
    }
    
    .dropdown {
        position: relative;
        margin-left: 5%;
        margin-top: 2%;
        display: inline-block;
    }
    
    .dropdown-content {
        display: none;
        position: absolute;
        background-color: #f9f9f9;
        min-width: 160px;
        box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
        z-index: 1;
    }
    
    .dropdown-content a {
        color: black;
        padding: 12px 16px;
        text-decoration: none;
        display: block;
    }
    
    .dropdown-content a:hover {background-color: #f1f1f1}
    
    .dropdown:hover .dropdown-content {
        display: block;
    }
    
    .dropdown:hover .dropbtn {
        background-color: gray;
    }

    .product-container{
        margin-left: 5%;
        margin-right: 5%;
        margin-top: 2%;
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
    }

    .product-card {
        width: 30%;
        border: 1px solid black;
        border-radius: 5px;  
        margin-bottom: 5%;  
    }

    .product-card h3{
        margin-top: 1%;
        margin-left: 1%;
    }

    .product-card p{
        margin-top: 1%;
        margin-left: 1%;
    }

    .product-image img{
        width: 100%;
    }

